
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~intl-tel-input/src/css/intlTelInput';
//
//.iti-flag {background-image: url("path/to/flags.png");}
//
//@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//  .iti-flag {background-image: url("path/to/flags@2x.png");}
//}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
